<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GroceryHelper</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>

    <body>
        <script src="js/functions.js"></script>
        <div id="outer">
            <div id="nav">
                <button onclick="addItems()" id="add" style="background: url(images/addButton.png);"></button>
                <button onclick="delItems()" id="del" style="background: url(images/delButton.png);"></button>
                <button onclick="viewStats()" id="stats" style="background: url(images/statsButton.png);"></button>
            </div>

            <div id="main">
                Main Here
            </div>

            <div id="footer">
                Footer Here
            </div>
        </div>
    </body>
</html>