/* Colours
    Background: #F6EDD9
    Outer Div: #729A78
    Inner Div: #2F964E
*/

/* Global Styling */
body{
    margin: 0;
    background-color: #F6EDD9;
}

/* Nav Div Styling */
#nav {
    padding: 5px;
    float: left;
    width: 40px;
    height: 240px;
    background-color: #729A78;
    border-radius: 0 5px 5px 0;
}

#nav button{
    position: absolute;
    left: -60px;
    transition: 0.3s;
    padding: 12px;
    width: 100px;
    height: 75px;
    text-decoration: none;
    border-radius: 0 5px 5px 0;
    border: none;
}

#nav button:hover{
    left: 0;
}

#add {
    top: 20px;
}
#del {
    top: 100px;
}
#stats {
    top: 180px;
}

/* Main Div Styling */
#main {
    background-color: #729A78;
    border-radius: 5px 5px 5px 5px;
    padding: 12px;
    margin-left: 65px;
    margin-right: 25px;
    margin-top: 10px;
    height: auto;
}

/* Main Div Content Styling */
#itemDiv {
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
    margin: 6px;
    background-color: #2F964E;
}

/* Footer Div Styling */
#footer {
    bottom: 0;
    position: fixed;
}